.preloader__circle {
	display: block;
	width: 74px;
	height: 74px;
	border: 2px solid #444;
	border-bottom-color: #888;
	border-radius: 50%;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	animation: spin .75s infinite linear;
}
@media screen and (max-width: 768px) {
    .preloader__circle {
		width: 54px;
		height: 54px;
	}
}