.about__foto{
    margin-right: 56px;
    width: 38%;
}
@media screen and (max-width: 968px) {
    .about__foto{
        margin-right: 32px;
    }
}
@media screen and (max-width: 580px) {
    .about__foto{
        margin-right: 0;
        width: 85%;
    }
}
@media screen and (max-width: 320px) {
    .about__foto{
        width: 100%;
    }
}