.mobile-menu{
    background: url(../../images/menu.svg);
    width: 24px;
    height: 24px;
}
@media screen and (min-width: 581px) {
    .mobile-menu{
        display: none;
    }
}
@media screen and (max-width: 580px) {
    .mobile-menu{
        display: flex;
    }
}