@import url(./__list/mobile-menu__list.css);
@import url(./__list/__list-link/mobile-menu__list-link.css);
.mobile-menu{
    background: url(../../images/menu.svg);
    width: 24px;
    height: 24px;
}
@media screen and (min-width: 621px) {
    .mobile-menu{
        display: none;
    }
}
@media screen and (max-width: 620px) {
    .mobile-menu{
        display: flex;
    }
}
