.popup__button-text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #2F71E5;
    display: contents;
    border: none;
    height: auto;
    width: auto;
}