<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NewExplorer</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
  <link rel="icon" href="<%=require('./images/N.svg').default%>">
</head>
<body>
  <div class="root">
    <header class="header root__section">
      <h3 class="logo">NewExplorer</h3>
      <nav class="mobile-menu"></nav>
      <nav class="menu header__menu">
        <ul class="menu__list">
          <li class="menu__list-link">
            <a class="menu__icon-main" target="_blank" href="/" title="Главная">Главная</a>
          </li>
          <li class="menu__list-link">
            <a class="menu__icon-articles" target="_blank" href="./articles/articles.html" title="Сохранённые статьи">Сохранённые статьи</a>
          </li>
          <li class="menu__list-link">
            <button class="button menu__button">Name_auth<img src="<%=require('./images/exit.svg').default%>" alt="exit"></button>
          </li>
        </ul>
      </nav>    
    </header>
    <section class="search root__section">
      <div class="search__conteiner">
        <h1 class="title search__title">Что в мире творится?</h1>
        <p class="subtitle search__subtitle">Находите самые свежие статьи на любую тему и сохраняйте в своём личном кабинете.</p>
        <form class="search__form" name="search">
          <input type="text" name="search" class="search__input search__input_type_search" placeholder="Введите тему новости" minlength="2" maxlength="30" required>
          <button type class="button search__button">Искать</button>
        </form>
      </div>
    </section>
    <section class="preloader preloader__vision root__section">
      <div class="">
        <i class="preloader__circle"></i>
        <p class="subtitle preloader__subtitle">Идет поиск новостей...</p>
      </div>
    </section>
    <section class="not-found not-found__vision root__section">
      <img src="<%=require('./images/not-found.svg').default%>" alt="Not-found" class="not-found__image">
      <h3 class="title not-found__title">Ничего не найдено</h3>
      <p class="subtitle not-found__subtitle">К сожалению по вашему запросу ничего не найдено.</p>
    </section>
    <section class="cards root__section">
      <h2 class="title cards__title">Результаты поиска</h2>
      <div class="places-list">
        

        <div class="place-card">
          <div class="place-card__image" style="">
            <p class="place-card__image-key place-card__image-key_vision">Природа</p>
            <div class="place-card__icons">
              <p class="place-card__icon-text">Войдите, чтобы сохранять статьи</p>
              <button class="place-card__icon"></button>
            </div>
          </div>
          <div class="place-card__description">
            <p class="place-card__date">2 августа, 2019</p>
            <h3 class="title place-card__title">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h3>
            <p class="subtitle place-card__subtitle">Знаменитый фотограф снимает первозданные леса России, 
              чтобы рассказать о необходимости их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где...</p>
            <p class="place-card__source">РИА</p>
          </div>
        </div>
        
        
        <div class="place-card">
          <div class="place-card__image" style="">
            <p class="place-card__image-key place-card__image-key_vision">Природа</p>
            <div class="place-card__icons">
              <p class="place-card__icon-text">Войдите, чтобы сохранять статьи</p>
              <button class="place-card__icon"></button>
            </div>
          </div>
          <div class="place-card__description">
            <p class="place-card__date">2 августа, 2019</p>
            <h3 class="title place-card__title">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h3>
            <p class="subtitle place-card__subtitle">Знаменитый фотограф снимает первозданные леса России, 
              чтобы рассказать о необходимости их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где...</p>
            <p class="place-card__source">РИА</p>
          </div>
        </div>


        <div class="place-card">
          <div class="place-card__image" style="">
            <p class="place-card__image-key place-card__image-key_vision">Природа</p>
            <div class="place-card__icons">
              <p class="place-card__icon-text">Войдите, чтобы сохранять статьи</p>
              <button class="place-card__icon"></button>
            </div>
          </div>
          <div class="place-card__description">
            <p class="place-card__date">2 августа, 2019</p>
            <h3 class="title place-card__title">«Первозданная тайга»: новый фотопроект Игоря Шпиленка</h3>
            <p class="subtitle place-card__subtitle">Знаменитый фотограф снимает первозданные леса России, 
              чтобы рассказать о необходимости их сохранения. В этот раз он отправился в Двинско-Пинежскую тайгу, где...</p>
            <p class="place-card__source">РИА</p>
          </div>
        </div>



      </div>
      <button class="button cards__button">Показать еще</button>
    </section>
    <section class="about root__section">
      
        <img class="about__foto" src="<%=require('./images/avatar.png').default%>" alt="Foto">
      
      <div class="about__text">
        <h3 class="about__text-title">Об авторе</h3>
        <p class="about__text-subtitle">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.</p> 
        <p class="about__text-subtitle">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь потенциальным заказчикам.</p>
      </div>
    </section>


    <div class="popup popup__signin "> <!--class="popup_is-opened"-->
      <div class="popup__content">
        <img src="<%=require('./images/close.svg').default%>" alt="Закрыть" class="popup__close popup__close-signin">
        <h3 class="popup__title">Вход</h3>
        <form class="popup__form popup__form-signin" name="signin">
          <p class="popup__form-subtitle">Email</p>  
          <input type="email" name="email" id="email" class="popup__input popup__input_type_email" placeholder="Введите почту" minlength="2" maxlength="30" required>
          <span class="error error-email"></span>
          <p class="popup__form-subtitle">Пароль</p>
          <input type="password" name="password" id="password" class="popup__input popup__input_type_password" placeholder="Введите пароль" minlength="8" maxlength="30" required>
          <span class="error error-password"></span>
          <button type class="button popup__button popup__button-signin" disabled>Войти</button>
        </form>
        <p class="popup__text">или <button class="button popup__button popup__button-text">Зарегистрироваться</button></p>
      </div>
    </div>


    <div class="popup popup__signup"> <!--class="popup_is-opened"-->
      <div class="popup__content">
        <img src="<%=require('./images/close.svg').default%>" alt="Закрыть" class="popup__close popup__close-signup">
        <h3 class="popup__title">Регистрация</h3>
        <form class="popup__form popup__form-signup" name="signup">
          <p class="popup__form-subtitle">Email</p>  
          <input type="email" name="email" id="email" class="popup__input popup__input_type_email" placeholder="Введите почту" minlength="2" maxlength="30" required>
          <span class="error error-email"></span>
          <p class="popup__form-subtitle">Пароль</p>
          <input type="password" name="password" id="password" class="popup__input popup__input_type_password" placeholder="Введите пароль" minlength="8" maxlength="30" required>
          <span class="error error-password"></span>
          <p class="popup__form-subtitle">Имя</p>
          <input type="text" name="name" id="name" class="popup__input popup__input_type_name" placeholder="Введите свое имя" minlength="2" maxlength="30" required>
          <span class="error error-password"></span>
          <span class="error eroor-form"></span>
          <button type class="button popup__button popup__button-signup" disabled>Зарегистрироваться</button>
        </form>
        <p class="popup__text">или <button class="button popup__button popup__button-text">Войти</button></p>
      </div>
    </div>

    <div class="popup popup__signup"> <!--class="popup_is-opened"-->
      <div class="popup__content">
        <img src="<%=require('./images/close.svg').default%>" alt="Закрыть" class="popup__close popup__close-signup">
        <h3 class="popup__title">Пользователь успешно зарегистрирован!</h3>
        <p class="popup__text"><button class="button popup__button popup__button-text">Выполнить вход</button></p>
      </div>
    </div>


    <footer class="footer root__section">
      <p class="footer__subtitle">&#169 2020 Supersite, Powered by News API</p>
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__list-link">
              <a class="menu__icon-main" target="_blank" href="/" title="Главная">Главная</a>
            </li>
            <li class="menu__list-link">
              <a class="menu__icon-facebook" target="_blank" href="facebook" title="Яндекс.Практикум">Яндекс.Практикум</a>
            </li>
            <li class="menu__list-link">
              <a class="menu__icon-github" target="_blank" href="https://github.com/ospas312/" title="GitHub"><img src="<%=require('./images/github.svg').default%>" alt="GitHub"></a>
            </li>
            <li class="menu__list-link">
              <a class="menu__icon-facebook" target="_blank" href="https://www.facebook.com/" title="Facebook"><img src="<%=require('./images/facebook.svg').default%>" alt="Facebook"></a>
            </li>
          </ul>
        </nav>
    </footer>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>
